:root {
    --delay:10s
}

#message_slider {
    display: flex;
    height: 2.5rem;
    padding: 0.4;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 800;
    color: #fff;
    background-color:  #4b5563;
}
#message_slider ul {
    display: flex;
    animation: anime var(--delay) linear infinite paused;
    user-select: none;

    &:hover {
       animation-play-state: paused;
    }

}

#message_slider ul li:not(li:last-child) {
    white-space: nowrap;
    &::after{
        content: "****";
        margin-inline: 1rem;
    }
}

#message_slider ul li:last-child {
    white-space: nowrap;
    &::after{
        content: " ";
        margin-inline: 1rem;
    }
}


@keyframes anime {

    0% {
       transform: translateX(18%); 
    }

    100% {
        transform: translateX(-100%);
    }
    
}